# this is the source code for this app, already built by the teacher
dev_utils/dev_lab/source-code--geodjango-from-dev-to-deployment
dev_utils/dev_lab/source-code--geodjango-from-dev-to-deployment.zip

*/__pycache__/*

*/migrations/__pycache__/*

# these can be collected via collectstatic
staticfiles

# these are the uploaded files - new dir
media

# exclude the virtual environment
venv