# this is the source code for this app, already built by the teacher
source-code--geodjango-from-dev-to-deployment/
source-code--geodjango-from-dev-to-deployment.zip

django/geoApp/2023/

django/geoApp/*/__pycache__/*

django/geoApp/__pycache__/